/* Això es del nav */
.nav-ul {
    max-width: initial;
    justify-content: space-evenly !important;
    margin: 0 !important;
    flex-grow: 1;
    align-items: center;
    flex-basis: 0;
    flex-wrap: nowrap;
}

.a-nav {
    margin-bottom: -5em;
    z-index: 10;
}

.navbar-nowrap{
    flex-wrap: nowrap;
}

.max-width-container{
    max-width: initial;
}

a.nav-link:hover {
    color: #f0c179!important;
}

/* Fin del nav */

/*Colors botons secció Ignasi del Homepage*/
a.btn.btn-success{
    background-color: #292929 !important;
    border-color: #292929 !important; 
}

a.btn.btn-success:hover {
    transition: all 0.5s;
    color: #f0c179;
}

/*Background secció Ignasi Homepage*/

section.container.py-5 {
    background-image: url("../img/spray.jpg");
}

