nav li sub {
    bottom: 0.25em;
}

footer li sub {
    bottom: -1rem;
    margin-left: -4rem;
}

section.content {
    margin-top: 3rem;
}

div.carousel-item > div.row {
    padding: 0 1rem;
}

section#section-related-product div.product-wap div.card{
    cursor: pointer;
}

@media (min-width: 992px) {
    section.content {
        margin-top: 6rem;
    }
}
