/* Carousel */

div.categories {
    margin-top: 3rem;
}

@media (min-width: 992px) {
    div.categories {
        margin-top: 2rem;
    }
}

/* Fin Carousel */

/*Centrar H1 verticalmente*/
h1 {
    margin-top: 120px;
    font-size: 50px;
}

